<div class="o-container--pillar-box u-space-top u-space-bottom">
    <main class="o-row">
        <div class="o-col col-12">
            <h1 class="u-space-top--2">Demo Calendar</h1>
            <div class="o-row ">
                <div class="o-col col-md-6 col-sm-12">
                     <p>This is a demo calendar forked from the <strong>ng-bootstrap</strong> project.</p>
                      <p>Ng bootstrap information here: 
                        <a href="https://ng-bootstrap.github.io/#/components/datepicker/examples" target="_blank">https://ng-bootstrap.github.io/#/components/datepicker/examples</a>
                      </p> 
                      <p>HTML here: 
                        <a href="https://stackblitz.com/edit/angular-datepicker-klwerg" target="_blank">https://stackblitz.com/edit/angular-datepicker-klwerg</a>
                      </p>

                      <hr>
                      <h2 class="u-space-top--2 u-space-bottom--2">Single permanent</h2>
                      <ngbd-datepicker></ngbd-datepicker>

                      <hr>
                      <h2 class="u-space-top--2 u-space-bottom--2">Single</h2>
                      <ngbd-datepicker-single></ngbd-datepicker-single>

                      <hr>
                      <h2 class="u-space-top--2 u-space-bottom--2">Range</h2>
                      <ngbd-datepicker-range></ngbd-datepicker-range>
                </div>
            </div>
        </div>
    </main>
</div>